body{
   font-size: 12px;
}

#main{                      /*전체 총크기 생성*/
	display: block;       /*블럭 지정 */
	width: 1150px;        /*너비 1150픽셀 생성*/
	height: 100%;        /*높이 전부사용*/
	/*margin-left: auto;  auto를 사용하면 HTML 요소를 가운데 정렬함
	margin-right: auto;*/
}


/*------------------------------왼쪽-------------------------------------*/
.left-div{ /*왼쪽 위에 큰 블럭 생성*/
	width: 755px; 
	height: auto;
	float: left; /*왼쪽에 부유하는 블록 박스 생성*/
}

.left-div-top-half{
	height: 50%; /*높이 반만 사용*/
	background-color: green; 
}

.left-div-1-top-menu{ /* Top 메뉴 */
	display: inline-block; /*줄바꿈 되지않고 생성됨.*/
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.left-div-1-top-menu button{ /*왼쪽 맨위 : 버튼설정*/
   width: auto;            /*버튼 너비*/
   height: 30px;          /*높이*/
   margin-top: 5px;          /*버튼 마진*/
   margin-left: 0.2em;       /*버튼 맨 왼쪽 마진*/
   float:left;
   text-align: center; 
   margin-right:-2px;
}

.left-div-1-top-menu button:nth-child(6){        /*6번째 요소를 선택하는 것.*/
   color: white;                                     
   background-color: #5E5E5E; 
}

.left-div-1-top-radio{ /*왼쪽상단의 라디오버튼*/
	display: inline-block; /*한라인을 블럭으로 감싼다.*/
	/* float:left;  이거하면 블록이 풀린다 왠지는모르겠다 주의하자~*/
	
	width: 750px;
	height: auto;
	border: 1px solid #E4E4E4;
	margin-left: 0.25em;
	margin-top: 2px;
	margin-bottom: 2px;
	box-sizing: border-box;
	background-color:#EAEAEA; 
	padding-left: 6px; /*시장구분 왼쪽 공백넣기*/
	padding-right: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.left-div-1-top-radio-group{
		height: auto;
		display: inline;
}
.menubar-btn{
	float: right;
	color: white;                                     
   	background-color: #5E5E5E; 
	
}

/*----------------------------------------------------------테이블1---------------------------------------------------------------------*/
.left-table-1{
   border:hiden;
   border-top: 3px solid black; /*위쪽 테두리 설정 solid는 일반적 라인테두리  */
   border-bottom: 1px solid black;
   width: 370px; /*755의 절반*/
   height:300px;
   box-sizing: border-box;  
   margin-top: 4px;         /*위쪽 마진 2px*/
   margin-left:0.2em;
   margin-right:10px; /*오른쪽 공간 */
   border-collapse: collapse; /*구분선이 없음*/
   float:left; /*테이블 두 개 나란히 놓기 */
}

.left-table-1 thead tr{ /*헤드부분 높이 조절*/
	height:30px;
}

.left-table-1 tr:nth-child(1) { /*업종 밑에 까만선 하나*/
   border-top:1px solid black;
}

.left-table-1 td:nth-child(1){
   text-align: left;
   width: 35%;
}

.left-table-1 td:nth-child(2){
	text-align:right;
	padding-right:10px;
}


.left-table-1 td:nth-child(3){
   text-align: right;
   width: 60px;
   
}
.left-table-1 td:nth-child(4){
     text-align: right;
}


.left-table-1 tbody tr:nth-child(odd){
   background-color: #EAEAEA;
}
.left-table-1 tbody tr:nth-child(5){ /*다섯번째줄 노란색*/
	background-color: #FCF3D0;
}

.left-table-1 tbody tr:nth-child(1) td:nth-child(n+2){/*첫번째 tr에서 업종제외하고 나머지는 red*/
	color: red;
}

.left-table-1 tbody tr:nth-child(2) td:nth-child(n+2){
	color: red;
}

.left-table-1 tbody tr:nth-child(10) td:nth-child(n+2){
	color: red;
}


.left-table-1 tbody td:nth-child(n+2){ /*나머지는 모두 블루*/
	color: blue;
}


/*------------------------------------------------------------------테이블2 ---------------------------------------------------------*/
.left-table-2{
	border-top: 3px solid;
	border-bottom: 1px solid black;
	margin-top:4px; 
	width: 370px;
	height:300px;
	border-collapse: collapse; /*구분선이 없음*/
}



.left-table-2 thead tr{ /*헤드부분 높이 조절*/
	height:30px;
}
.left-table-2 tr:nth-child(1) { /*종목명 밑에 까만선 하나*/
   border-top:1px solid black;
}

.left-table-2 tbody tr:nth-child(n) td:nth-child(n+2) /*첫번째항목은 빼고 나머지 오른쪽 정렬*/
{    
   text-align: right;
}

.left-table-2 td:nth-child(3){
   text-align: right;
   padding-left: 15px;
}


.left-table-2 tbody tr:nth-child(odd){
	background-color: #EAEAEA;
}
.left-table-2 tbody td:nth-child(n+2)
{
	color:red;
}
.left-table-2 tbody td:nth-child(5)
{
	color:black;
}

.left-last-button 
{
	margin-top: 5px;
	width:100%;
	height:30px;
	text-align: right;
}
.left-last-button button /*처음으로 다음 간격 조정*/
{
	margin-right:0.2em;
	margin-left:-6px;
}
.updown{
	float: left;
}
/*--------------------------------------------------------------------------------------------왼쪽 상단 끝------------------------------------------------------*/

.left-bottom-half
{
	height:50%;
	background-color:gray;
}


.left-bottom-top-menu
{
	width: 100%;
	display:inline-block;
	height:auto;
	margin-left: 0.2em;
	margin-top:5px;
}
.left-bottom-top-menu button
{
	height:30px;
	width:auto;
	margin-right:-4px;
}
.left-bottom-top-menu button:nth-child(5) /*매매동향 까맣게*/
{
	background-color:  #5E5E5E;
	color: white;
}

.left-bottom-top-search{
	width:750px; /*라인끝에 살짝 띄우기위해 */
	height:auto;
	box-sizing:border-box;
	display:inline-block; /*한라인에 다넣기위해*/
	border: solid px1 gray;
	background-color:#EAEAEA; 
	margin-left:0.2em;
	margin-top:5px;
}
.left-bottom-top-search select{ /*콤보박스 설정*/
	margin-top:5px;
	margin-left:8px;
	margin-bottom:5px;
	width:90px;
	height:20px;
}

.white-search-image{
	background-image: url("돋보기_흰색.png");
	width: 29px;
	height: 29px;
	vertical-align: middle;
	border: 1px solid white; 
}
.search-text 
{
	margin-top:5px;
	margin-bottom:5px;	
	width: 80px;
	height: 20px;
	vertical-align: middle;
	background-color: #E6E6E6;
	padding-left: 10px;
	border:inherit;
	background-color: lightgray;
	text-align: left;
	-webkit-appearance:none;
}

.search-info-text
{
	vertical-align: middle; /*가운데로 정렬*/
	margin-left:181px;      /*당일데이터입력시간 띄우기*/
}

.search-but1 {
	margin-top:5px;
	vertical-align: top;
	
}
.search-but2 {
	margin-top:5px;
	vertical-align: top;
	background-color:  #5E5E5E;
	color: white;
}


