html
{
	font-size: 12px;
}

div{
	display: inline-block;
}
th{
	font-weight: normal;
}


.arrow{ /*화살표는 따로 지정하여 관리 (왼쪽정렬)*/
	float: left;
}

#main{                      /*전체 총크기 생성*/
	display: block;       /*블럭 지정하고 마진을 left,right auto로 설정하면 가운데로간다. */
	width: 1150px;        /*너비 1150픽셀 생성*/
	height: 100%;        /*높이 전부사용*/
	margin-left: auto;  
	margin-right: auto;
	/*background-color: #585858;*/
	/*margin-top: 50px;*/
}


/*-----------------------------------------------------------------------------왼쪽(Left)-----------------------------------------------------------------------*/
.left-div{ /*왼쪽 전체 부분 생성*/
	width: 755px;  /*넓이 755*/
	height: auto; /*높이 자동*/
	float: left;   /* 왼쪽에 생성 (나중에 오른쪽블럭을 생성할 때 필요 이게없으면 오른쪽에있는것들이 밑으로가버림.)*/
}

.left-div-top-half{ /*왼쪽 상단부분 영역 지정*/
	height: 510px;    /* 높이 반만 사용*/
}

/*------------------------------왼쪽 상단버튼*/
.left-top-menu{                   /* Top 메뉴 버튼 영역설정 */
	display: inline-block;       /*줄바꿈 되지않고 생성됨.*/
	width: 100%;                    
	height: auto;            
	/*margin-top: 5px;*/
}

.left-top-menu button{ /*왼쪽 맨위 : 버튼 설정*/
   height: 30px;             /*높이*/
   /*margin-top: 5px;        /*버튼 마진*/
   float:left;               /*왼쪽 정렬 float: left 시 밑에 약간띄워짐 주의할것*/
   border: none;             
   margin-right:2px;
	min-width:50px ;
   height: 30px;           /*높이*/
   background-color: #E6E6E6;
   
}

.left-top-menu button:nth-child(6){   /*6번째 요소를 선택하는 것.*/
   color: white;                                     
   background-color: #585858; 
}

/*------------------------------왼쪽 상단 라디오 박스000*/
.left-div-top-radio{ /*왼쪽상단의 라디오 영억 지정*/

	margin-top:3px; /*라디오와 위의 버튼 사이간격 */
	
	display: inline-block; /*한라인을 블럭으로 감싼다.*/
	border: 1px solid gray; /*앞옆뒤 모두 라인생성*/
	
	width: 755px;
	height:35px;
	background-color:#E6E6E6; 
	
	box-sizing:border-box; /*패딩값으로 밀리는걸 방지해줌 (중요)*/
	padding: 5px;  /*상하좌우 모두 밑에서 좌는 10px으로 바꿈*/
	padding-left: 10px; /* 시장지수부터 섹터지수 까지를말함*/
	
}

.left-div-top-radio-group{ /*라디오만 해당되는 영역*/
	height: auto;
	float:left; /*이걸 하므로인해 밑에 약간띄워짐(br느낌으로다가 margin을 좀 키움.*/
	display: inline;
}
.left-top-menubar-btn{ /*라디오 그룹을 벗어난 다른영역*/
	float:right; /* 제일상위인 라디오영역에서 오른쪽에 배치 64번째줄에 오른쪽에 5px띄워짐 */
	color: white;                                  
   	background-color: #585858; /*다크그레이색상*/
   	height:24px;
   	border:1px solid gray;
   	
}


/*----------------------------------------------------------테이블1---------------------------------------------------------------------*/
.left-table-div{
	display: inline-block;       /*줄바꿈 되지않고 생성됨.*/
	width: 100%;                    
	height: auto;         
	/*margin-top: 5px;*/
}
.left-table1{
   margin-top: 3px;         /*위쪽 마진 3px*/
   /*테이블 고정값*/
   box-sizing: border-box;  
   border-top: 2px solid #585858; /*위쪽 테두리 설정 solid는 일반적 라인테두리  */
   border-bottom: 1px solid #585858;
   	border-collapse: collapse; /*구분선이 없는 테이블 (구분선이 없어지면서 크기가 조금 줄어듬)*/
   
   /*border-collapse: collapse; /*구분선이 없는 테이블 (구분선이 없어지면서 크기가 조금 줄어듬) ----위에선언됨*/
   width: 370px; /*755의 절반*/
   height:auto; /*밑에 tr로 크기 설정*/
   float:left; /*테이블 두 개 나란히 놓기위함 */
}



.left-table1 tr /*테이블 공통 속성 height*/
{
	height:30px;
	
}
/*.left-table1 td /*테이블 공통 속성 width
{
	width:46.25px;  375의 열의 개수인 4등분 한것.
}*/

/*중요~~~~~~~~~*/
.left-table1 tr:nth-child(n) td:nth-child(3){ /*애로우를 띄우기위해 width를 조절*/
   width:55px;
}

.left-table1 tr:nth-child(n) td:nth-child(2){ /*애로우를 띄우기위해 지수의 패딩오른쪽값을 띄움*/
   padding-right:35px;
}


.left-table1 tr:nth-child(1) { /*업종 밑에 까만선 하나 border-callapse가 있어야가능*/
   border-top:1px solid black;
}

.left-table1 td:nth-child(1){ /*업종 왼쪽정렬*/
   text-align: left;
}

.left-table1 td:nth-child(n+2){ /* 지수, 전일비 등락률 오른쪽정렬*/
	text-align:right;
}

.left-table1 tbody tr:nth-child(odd){ /*홀수 행 색깔변경*/
   background-color: #E6E6E6;
}
.left-table1 tbody tr:nth-child(5){ /*다섯번째줄 노란색*/
	background-color: #F3E2A9;
}

.left-table1 tbody tr:nth-child(1) td:nth-child(n+2){ /*첫번째 tr에서 업종제외하고 나머지는 red*/
	color: red;
}

.left-table1 tbody tr:nth-child(2) td:nth-child(n+2){
	color: red;
}

.left-table1 tbody tr:nth-child(10) td:nth-child(n+2){
	color: red;
}

.left-table1 tbody td:nth-child(n+2){ /*나머지는 모두 블루*/
	color: blue;
}


/*------------------------------------------------------------------테이블2 ---------------------------------------------------------*/
.left-table-2{
	margin-top:3px;
	box-sizing:border-box;
	float:right; /*오른쪽 정렬*/
	width: 370px; /*테이블 2개 370씩 나머지 10은 right정렬로인해 자동으로 10띄워짐 */
	border-top: 2px solid #585858;
	border-bottom: 1px solid #585858;
	border-collapse: collapse; /*구분선이 없는 테이블 (구분선이 없어지면서 크기가 조금 줄어듬)*/
	height:auto;
}


.left-table-2 tr{ /*테이블 공통속성*/
	height:30px;
}

.left-table-2 tr:nth-child(1) { /*종목명 밑에 까만선 하나*/
   border-top:1px solid black;   
 
}
/*애로우설정*/
.left-table-2 tr:nth-child(n) td:nth-child(3){ /*애로우를 띄우기위해 width를 조절*/
   width:55px;
}
/*애로우설정*/
.left-table-2 tr:nth-child(n) td:nth-child(2){ /*애로우를 띄우기위해 2열의 패딩라이트를 조절*/
   padding-right: 25px;
}



.left-table-2 tbody tr:nth-child(n) td:nth-child(n+2) /*첫번째항목은 빼고 나머지 오른쪽 정렬*/
{    
   text-align: right;
}



.left-table-2 tbody tr:nth-child(odd){
	background-color: #E6E6E6;
}
.left-table-2 tbody td:nth-child(n+2)
{
	color:red;
}
.left-table-2 tbody td:nth-child(5)
{
	color:black;
}



.left-last-button /*버튼을감싸는 범위 지정*/
{
	margin-top: 5px;
	width:100%;
	height:30px;
	box-sizing: border-box; /*패딩값이 못튀어나가도록 막음*/
	text-align:right;
	padding-left:3px;
}
.left-last-button button{
	background-color: white;
	border: 1px solid #E6E6E6;
	height:30px;
}


/*--------------------------------------------------------------------------------------------왼쪽 상단 끝------------------------------------------------------*/

.left-bottom-half /*왼쪽 하단 반쪽 영역 설정*/
{
	margin-top:10px;        /*왼쪽 상단과의 간격*/
	height:50%;
	
}

/*왼쪽하단 버튼 많은것*/
.left-bottom-top-menu 
{
	width: 100%;                
	display:inline-block;   /*메뉴판을 한블럭으로 지정 (간격 조금늘어남)*/
	height:auto;             /*버튼크기에 맞도록*/
}




.left-bottom-top-menu button/*버튼여러개*/
{
	float:left; /*왼쪽 정렬*/
	height:30px;
    min-width:45px ;
	margin-right:2px; /*버튼 사이사이 간격*/
	border:none;
	background-color: #E6E6E6;/*버튼색깔*/
	
}
.left-bottom-top-menu button:nth-child(5) /*매매동향 까맣게*/
{
	background-color:  #585858;
	color: white;
}

/*콤보박스가있는 서치할수 있는부분*/
.left-bottom-top-search{
	width:100%; /*라인끝에 살짝 띄우기위해 */
	height:35px;
	box-sizing:border-box; /*패딩값 막기위함*/
	
	display:inline-block; /*한라인에 다넣기위해*/
	border: 1px solid  gray;
	background-color:#E6E6E6; 
	margin-top:3px; 
}


.left-bottom-top-search select{ /*콤보박스 설정*/
	margin-top:4px; /*위쪽과의 마진값*/
	margin-left:8px;
	width:90px;
	height:25px;
	
}


.white-search-image{ /*돋보기 이미지 버튼*/
	background-image: url("돋보기_흰색.png");
	width: 26px;
	height: 26px;
	
	margin-top:4px;
	vertical-align:top; /*제일위로 올림 */
	
	box-sizing: border-box;
	border: 1px gray;
}




.search-text /*삼성전자 text*/
{
		
	box-sizing: border-box;
	width: 80px; /*텍스트를 띄움으로 자동으로 버튼두개가 움직임.*/
	height: 26px;
	padding-left: 10px; /*글자를 좀 가운데로 이동*/
	vertical-align: -1.5px;
	border:inherit;
	background-color: lightgray;
	

}

_::-webkit-:not(:root:root), .search-text {
	
		width: 100px;
}


	

/*IE 전용*/
_:-ms-fullscreen, :root .search-text{
	width: 87px;
	}
/*파이어폭스 전용*/
@-moz-document url-prefix(){ 
	.search-text{width: 72px;}

 }
 /*사파리 전용*/




.search-info-text /*당일 데이터 입력시간 글자*/
{
	height: 20px;
	margin-left:198px;      /*당일데이터입력시간 띄우기 이걸로 버튼 두개 옆으로 땡김.*/
}

/*버튼설정*/
.search-but1 {
	height: 26px;
	
	vertical-align: -2px;
	
}
.search-but2 {
	vertical-align: -2px;
	height: 26px;
	background-color:  #5E5E5E;
	color: white;
	border:1px solid gray;
	
}
/*--------------------------------------------------바텀 테이블1 시작*/
.left-bottom-div1{ /*바텀 영역지정*/
	display:inline-block;
	height:auto;
	width:100%;
	margin-top:5px; /**/	
}

.left-bottom-div1-table{ /*년도 적혀있는 테이블 설정*/
	width:100%; /*꽉채우기위함*/
	height:auto;
	border-collapse:collapse;
	border-top: 2px solid  #585858;
    border-bottom: 1px solid #585858;    
    box-sizing: border-box;
}

/*테이블 공통크기*/
.left-bottom-div1-table tr{
	height:30px;
}


.left-bottom-div1-table tr:nth-child(1)/* 줄긋기 주의 : boder-collapse가 없으면 실행이안됨*/
{
	border-top:1px solid black; 
}
.left-bottom-div1-table td:nth-child(1){ /*일자 위치조정*/
	text-align: left;
	padding-left:10px;
	width:80px;	
}

.left-bottom-div1-table td:nth-child(2){
	width:80px;
}


.left-bottom-div1-table td:nth-child(3) {/*전일비 설정*/
	padding-left:20px;
	width:60px;
	
}
.left-bottom-div1-table td:nth-child(4) {
	width:80px;
	
}
.left-bottom-div1-table tbody tr:nth-child(n) td:nth-child(n+2) { /*일자 빼고 모두오른쪽 정렬*/
	text-align: right;
}

.left-bottom-div1-table tr:nth-child(odd) { /*홀수행 색깔변경*/
	background-color: #EAEAEA;
}

/*색깔 설정*/
.left-bottom-div1-table tbody td:nth-child(n+2){ /*전체 td 빨간색*/
	color:red;
}

.left-bottom-div1-table tbody tr:nth-child(1) td:nth-child(6) {
	color:blue;
}


.left-bottom-div1-table tbody tr:nth-child(2) td:nth-child(n+5):nth-child(-n+6) {
	color: blue;
}

.left-bottom-div1-table tbody tr:nth-child(2) td:nth-child(n+8):nth-child(-n+9) {
	color: blue;
}

.left-bottom-div1-table tbody tr:nth-child(n+3):nth-child(-n+4) td:nth-child(n+2):nth-child(-n+5) {
	color:blue;
}
.left-bottom-div1-table tbody tr:nth-child(3) td:nth-child(n+8) {
	color:blue;
}

.left-bottom-div1-table tbody tr:nth-child(n+4):nth-child(-n+5) td:nth-child(8) {
	color:blue;
}

.left-bottom-div1-table tbody tr:nth-child(5) td:nth-child(n+5):nth-child(-n+6) {
	color:blue;
}

/*처음으로, 다음 버튼은 위에사용했떤 버튼을 사용한다*/



/*바텀 밑에 두개 테이블을 감싸는 영역생성*/
.left-bottom-div2
{
	width:100%;
	height:auto;
	box-sizing: border-box;
	display: inline-block; /*상위 영역을 inline-block으로 지정한뒤 나머지 테이블이나 기타요소에 float:left, right를 넣어 사용할수있도록한다. (중요)*/
	margin-top:10px;
}

/*-----------------------------------바텀두번째 테이블1---------------------------------*/
.left-bottom-div2-table1 /*테이블 설정*/
{
	width:370px; 
	height:auto;
	border-top: 2px solid #585858;
	border-bottom: 1px solid #585858;
	border-spacing: 0px 1px; /*각 행을 붙어있게만듦. 순서대로 length initial inherit*/
	float:left; /*위에단에다가 left를 걸어줘야 양쪽으로 놓을수있음.*/
	margin-right:10px;
	box-sizing: border-box;
}

.left-bottom-div2-table1 th
{
	height:30px;
	
}
.left-bottom-div2-table1 tr
{
	height:30px;
	
}

.left-bottom-div2-table1 thead th:nth-child(n+1):nth-child(-n+2){ /*매도상위 매도수량 바탕색 연한파랑으로*/
	background-color: #CEECF5; /*연한 블루*/    
}

.left-bottom-div2-table1 td:nth-child(1) /* 첫번째열 모두 바탕색을 연한블루색으로*/
{
	background-color: #CEECF5; /*연한 블루*/
	text-align: center;  
	width:90px;    

}

.left-bottom-div2-table1 tbody tr:nth-child(6) td /*모두 연한블루에서 외국계합만 노랑색으로 덮어씌움 */
{
	background-color: #F5F6CE; /*연한 노랑*/    

}


.left-bottom-div2-table1 thead th:nth-child(n+3):nth-child(-n+4) /* 매수상위 매수수량 바탕색 연한빩강으로*/
{
	background-color: #F5A9A9; /*연한 레드*/    
	

}

.left-bottom-div2-table1 tbody td:nth-child(3) {/* 3번째열 바탕색 연한빨강으로*/
	background-color: #F5A9A9; /*연한 레드*/   
	text-align: center;  
	width:90px;  
	
}

.left-bottom-div2-table1 tbody td:nth-child(2) {/*두번째열 모두 오른쪽으로 정렬 */
	text-align: right;
	width:90px;  
}

.left-bottom-div2-table1 tbody td:nth-child(4) { /*네번째열 모두 오른쪽으로*/
	text-align: right;
	width:90px;  
}

.left-bottom-div2-table1 tbody tr:nth-child(odd) td:nth-child(3) { /* 모건스텐리, 골드만삭스 ,JP모간 빨간색글자*/
	color:red; 
}
.left-bottom-div2-table1 tbody tr:nth-child(odd):nth-child(-n+3) td:nth-child(1) { /*CLSA 도이치 파란색글자*/
	color:blue;
}


.left-bottom-div2-table1 tbody tr:nth-child(6) td:nth-child(2)  /*가격표 파란글자 228 934*/
{
	color:blue;
}

.left-bottom-div2-table1 tbody tr:nth-child(6) td:nth-child(4)  /*가격표 파란글자 264 481*/
{
	color:red;
}


/*----------------------------바텀 두번째 테이블*/

.left-bottom-div2 span{ /*회사명 글자 */
	float:right;
	width:370px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 28px; /*높이*/
	text-align: center;
	box-sizing:border-box;	
	background-color: #FBF2EF;
	margin-bottom: 5px; 
	padding-top: 5px; /*글자 간격*/
	

}
.left-bottom-div2-table2 /*테이블 2설정*/
{
	box-sizing:border-box;
	float:right;
	width:370px;
	border-top: 2px solid #585858;
	border-spacing: 0px 1px; /*각 행을 붙어있게만듦. 순서대로 length initial inherit*/
	border-bottom: 1px solid #585858;
	
	
}

	.left-bottom-div2-table2 tr
{
	height:30px;
	}

.left-bottom-div2-table2 tbody tr:nth-child(odd)
{
	background-color: #EAEAEA;
}


.left-bottom-div2-table2 tbody tr:nth-child(1)
{
	border-top: 1px solid black;
}



.left-bottom-div2-table2 th:nth-child(1)
{
	width:90px;
	
}
.left-bottom-div2-table2 tbody tr:nth-child(odd) td:nth-child(4)
{
	color:blue;
	
}
.left-bottom-div2-table2 tbody tr:nth-child(even) td:nth-child(4)
{
	color:red;
	
}


.left-bottom-div2-table2 tbody td {
	text-align: right;
	padding-right: 15px;
}

/*--------------------------------------------------------------------------------------------왼쪽 하단 끝------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------왼쪽 끝------------------------------------------------------*/

/*-----------------------------------------------------------------오른쪽 상단 시작-------------------------------------------------------------------*/
.right-div{ /*오른쪽 상단 블럭 생성*/
	width: 380px; 
	height: auto;  /*auto로 바꾸기*/
	margin-left:15px; /*왼쪽부분과 오른쪽 부분을 띄움*/
	float: left; /*왼쪽에 left가 있으니 그 다음으로 오기때문에 옆에 생성되게한다.*/
	
}

.right-div-top-half{/*오른쪽 반절 시작*/
	width:100%;
	height: 510px; /*왼쪽상단 높이*/
}


/*--------------------------탑 메뉴------------------ */
.right-top-menu{
	width:100%;
	display:inline-block;

}
.right-top-menu button{
	float:left;
	margin-right:2px; /*left로 붙어서 좀 띄움*/
	min-width:45px ;
	border:none;
	box-sizing:border-box;
	height:30px;
}
.right-top-menu button:nth-child(1)
{
	background-color:  #5E5E5E;
	color: white;
}
/*-------------------------------------------*/

/*---------오른쪽 상단 서치 부분-----------*/
.right-top-search{
	margin-top: 3px; /* 위 버튼여러개랑 공간 띄움*/
	display: inline-block; /*한줄을 사용  */
	width:100%;
	height:35px;
	background-color: #EAEAEA;
	border:1px solid gray;
	box-sizing: border-box;
}


.right-top-search select { /*콤보박스 설정*/
	margin-top:4px;
	margin-left:8px;
	width:90px;
	height:25px;
	
}
.search-but3 
{
	
	height:26.5px;
	float:right;
	margin-top:3.5px; 
	margin-right:3px; 
	background-color: white;
	border: 1px solid gray;
	
}
/*--------------------------------------------------*/

/*------------------한줄 테이블---------------------*/
..right-group1 /*한줄 테이블을 묶기*/
{
	height:auto;
	width:100%;
}

.right-table1
{
	
	margin-top:6px; /*레프트 와 띄우기를 같이해야하기때문에 6px */
	border-bottom:1px solid #585858 ; /**/
	border-top:2px solid #585858;
	border-collapse: collapse;
	box-sizing: border-box;
	
}
.right-table1 thead tr /*높이설정*/
{
	height:25px;	
}
.right-table1 th
{
	font-weight:normal; /*th는 원래 bold한데 폰트를 다시 노말로 바꿔주는것*/
}
.right-table1 th:nth-child(n+2)
{
	width:80px;

}

.right-table1 th:nth-child(1)
{
	padding-left:5px;
	width:20px;
	
}
.right-table1 th:nth-child(n+3):nth-child(-n+5)
{
	color:red;
}

 /*----------------------------------------------*/

/*----------오른쪽 상단  메인 테이블 시작--------------------*/
 .right-group2
 {
 	height:auto;
	width:100%;
 }

/*=======================제일 상위 테이블======*/
.right-super-table 
{
	background-color: white; /*전체배경색**/
	width:380px;
	border-spacing: 0px 1px; /*각 열을 붙어있게만듦,행사이간격 1px*/
	border-top: 2px solid #585858; /* 테이블 맨위 2px 선 생성*/
	border-bottom: 1px solid #585858; /*맨밑 까만선하나*/
	margin-top:3px; /*위쪽과의 빈공간 */
}

/*각 테이블 셀의높이와 너비*/
.right-super-table tr
{
	height:29px;            /*각 행의 높이.....*/
}

.right-super-table th   /*각 열의 넓이*/
{
	width:76px;
		border-bottom: 1px  solid black;
	
}

.right-super-table th:nth-child(3)  /*세번째열 늘리기*/
{
	width:100px;
}



.right-super-table tbody td:nth-child(n) { /*매도잔량 시간 셀들은 오른쪽 정렬*/
	text-align: right;
}


.right-super-table tbody tr:nth-child(-n+5) td:nth-child(-n+3){ /*1~5행까지 3열까지만 연한블루색*/
	background-color: #ddf9ff; /*연한블루*/
}
.right-super-table tbody tr:nth-child(n+1):nth-child(-n+5) td:nth-child(3) {    /*시간 빨간색글자 행5까지만*/
	color:red;
}

.right-super-table tbody tr:nth-child(6) td:nth-child(2) { /*6행은 row5열과 col2열이 합쳐져있기때문에 이렇게 할시 합쳐진곳까지다 빨간색이된다.*/
	color:red;
}

.right-super-table tbody tr:nth-child(n+7):nth-child(-n+10) td:nth-child(1) { /*7행부터는 1열이 금액이므로 나머지를 10행까지 빨간색으로 해준다.*/
	color:red;
}
.right-super-table tbody tr:nth-child(11) td:nth-child(3) { /*11행은 12345행 모두존재하므로 3열에 15169를 빨간색으로칠한다.*/
	color:red;
}
/*========================================*/


/*-================서브테이블 1 ( 첫번째 내부 테이블)====*/
.sub-table1{
	border-top:2px solid gray; /*첫번째 행위에 회색선 하나*/
	border-collapse:collapse;
	/*background-color: blue;*/
	/*padding :0px ;*/
	width:100%;
	height:100%;
}

 /*1행 2행 설정*/
.sub-table1 tr:nth-child(n+1):nth-child(-n+2)
{
	height: 20px; /*높이*/
	border-top:1px solid gray;
	margin-top:2px;
}

/*모든 행 하얗게*/
.sub-table1 tbody tr:nth-child(n+1) td:nth-child(n+1)
{
	background-color: white;
}

.sub-table1 tr:nth-child(3)
{
	border-top:1px solid gray;
}

.sub-table1 td:nth-child(n+2)
{
	width:76px; /*76/2*/
	height:full;
}

.sub-table1 tbody td:nth-child(1) { /*매수잔량과 대비는 서브테이블로 왼쪽 정렬*/
	text-align: left;
}
.sub-table1 tbody td:nth-child(2) { /*매수잔량과 대비는 서브테이블로 왼쪽 정렬*/
	text-align: right;
}
.sub-table1 tbody tr:nth-child(2) td:nth-child(2) { /*서브테이블 대비 하한가 가격표 파란색글자로하기*/
	color: blue;
}
.sub-table1 tbody tr:nth-child(1) td:nth-child(2) { /*매수잔량과 대비 상한가 가격표 파란색글자로하기*/
	color: red;
}
/*-----------------------서브테이블1 끝--------------*/
/*-----------------------서브테이블2 시작--------------*/
.sub-table2
{
	background-color: blue;
	width:100%;
	height:100%;
	border-top:2px solid #585858;
	border-bottom:1px solid #585858;
	border-collapse: collapse;
}

.sub-table2 tr:nth-child(n)
{
	height: 29px;
}

.sub-table2 tbody tr:nth-child(n+4):nth-child(-n+6) td:nth-child(2) { /*전일, 가중 글자 까맣게하기*/
	color: black;
}

/*내부 테이블 내부 배경하얗게 만듦*/
.sub-table2 tbody tr:nth-child(n+1):nth-child(-n+5) 
{
		
	background-color: red;
	
}
.sub-table2 tbody tr:nth-child(n+1):nth-child(-n+5) td:nth-child(n+1)
{
		
	background-color: white;
	
}



.sub-table2 tbody td:nth-child(2) {
	text-align: right;
}
.sub-table2 tbody td:nth-child(1) {
	text-align: left;
}






.right-super-table tbody tr:nth-child(n+6) td:nth-child(n+2){
	background-color: #F8E0E0;
}
.right-super-table tbody tr:nth-child(n+7) td:nth-child(1){
	background-color: #F8E0E0;
}

.right-super-table tbody tr:nth-child(6) td:nth-child(2){
	background-color: red;
	color:white;
}
.sub-table2 tbody tr:nth-child(n+1):nth-child(-n+3) td:nth-child(2) { /*매수잔량과 대비 상한가 가격표 파란색글자로하기*/
	color: red;
}

.right-super-table tbody tr:nth-child(n+11):nth-child(-n+12) td:nth-child(-n+2) {
	background-color: #ddf9ff; /*연한블루*/
	
	
}

.right-super-table tbody tr:nth-child(n+11):nth-child(-n+12) td:nth-child(n+3):nth-child(-n+3) { 
	background-color: white;
	text-align: center;
}
.right-super-table tbody tr:nth-child(n+11):nth-child(-n+12) td:nth-child(n+4):nth-child(-n+5) {
	background-color: #F8E0E0;
	
}

.right-super-table tbody tr:nth-child(n+11):nth-child(-n+12) td:nth-child(n+3):nth-child(-n+3) { /*매수잔량과 대비 상한가 가격표 파란색글자로하기*/
	background-color: #fcfee2;
}
.right-super-table tbody tr:nth-child(n+11):nth-child(-n+12) td:nth-child(n+4):nth-child(-n+5) { /*18864,485 진하기조금다르게*/
	background-color: #ffcccd;

	
}
/*--------------------------------------------------------------------오른쪽 아래-------------------------------------------------------*/
.right-div-bottom-half
{
	margin-top:10px;
	width:380px;
	height: auto;
	
	
}
.right-bottom-menu{
	display: inline-block;
	width:100%;
	height:auto;	
	padding-bottom: 0px;
	/*margin-bottom: -3px;*/
}


.right-bottom-menu button
{
	width:auto;
	height:30px;
	min-width:50px ;
	border:none;
	margin-right:-2px;
}
.right-bottom-menu button:nth-child(1)
{
	background-color: red;
	color: white;
}

/*오른쪽 마지막 테이블 시작*/

.right-bottom-table
{
	float:left;
	border-top:2px solid #585858; 
	width:100%;
	height: auto;
	padding-top:10px;
	background-color: #ffc8c8;
	
}


.right-bottom-table td:nth-child(1) {
	text-align: center;
	width:70px;
	padding-right:10px;
}
.right-bottom-table tr
{
	height:33px;
	
}
#Account_number /*계좌번호 셀렉트박스 설정*/
{
	width:145px;
	height:25px;
}
#right_bottom_password /*비밀번호 텍스트 설정*/
{
	width:150px;
	height:18px;
}

/* 종목코드 설정*/
#right-bottom-search 
{
	margin-top:-2.5px; /*돋보기와 위치맞추기위해 4px를띄워서 위에 마진값과 비슷하게만들기 위함*/
}

#right-bottom-search select { /* 삼성전자와 돋보기있는 select 설정 */
	margin-top:4px; /*돋보기와 높이맞추기위함.*/
	width:90px;
	height:25px;
	
}

#Sales-division
{
	width:95px;
	height:25px;
}



#minus
{
	background-color: #ffffff; 
	width: 25px; 
	height: 25px; 
	border: 1px solid #c0c0c0;
	box-sizing:border-box;
	vertical-align: top;
	margin-top:2px;
	padding-bottom: 7px;
	padding-right:5px;
	margin-right:-4px;
}
/*IE전용*/
@media screen and (min-width:0\0) {
    #minus { 
    margin-right: -3px;
    }
}

#plus
{
	background-color: #ffffff; 
	width: 25px; 
	height: 25px; 
	border: 1px solid #c0c0c0;
	box-sizing:border-box;
	margin-top:2px;
	
	vertical-align:top;
	margin-left:-4px;
}


#text-box{ /*매매수량 텍스트 크기 조절*/
		width:100px;
		margin-top:2px;
		height:21px;
		border: 1px solid #c0c0c0;
		border-left: 0px;
		border-right: 0px;
		vertical-align: top;
		text-align: right;
}

/*주 현금 최대 버튼 설정*/
.quantity-button
{
	margin-top:2.5px;
	margin-left:-2px;
	margin-bottom: -2px;
}


.quantity-button button
{
	width: auto;
	height:28px;
	background-color: white;
	border: 1px solid gray;
	
	
}
/*파이어폭스와 IE 모두 전용*/
.quantity-button > button {
	height: auto; 
	float:left;
	margin-left:2px;
}
	#won
{
	vertical-align: -6px;
	margin-left: 5px;
}
	
/*신용구분 select박스 설정*/
#credit_division 
{
	margin-top:2px;
	width:84px;
	height:25px;
}
#text-box2
{
	background-color: lightgray;
	border: 1px solid gray; 
	width:145px;
	margin-top:2px;
	height:20px;
	
	
}

/*마지막 시장가주문 매수 버튼 설정*/
#right_last_button
{
	height:90px;
	float: right;
	margin-right:10px;
	
}
#right_last_button button
{
	min-width:90px;
	height:30px;
}


#red-button
{
	background-color: red;
	color: white;
	border: 0px;
}
#white-button
{
		border: 1px solid gray; 
	
		background-color: white;
	
}


	